Library
Applications
Desktop
Documents
Downloads
Movies
Music
Pictures
Public
Sandbox
Web-dev
bower_components
.ssh
.Trash
.npm
.npm-global
.DS_Store
.node-gyp
.bash_sessions
.local
.config
.cache
.gem
.iterm2
.pm2
.vim
.vscode
.Tribler
.VSCodeVim
.oh-my-zsh
node_modules
